<!-- index.html.erb -->

<h1>My Recipe Finder</h1>

<%= form_tag(recipes_path, method: :get) do %>
  <%= text_field_tag :search_query, params[:search_query], placeholder: "Entre ingredients or recipe name" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @search_results.present? %>
  <h2>Search Results</h2>
  <ul>
    <% @search_results.each do |recipe| %>
      <li>
        <%= link_to recipe['title'], recipe['url'] %>
      </li>
    <% end %>
  </ul>
<% end %>

  <%= link_to 'Stored Recipes', stored_recipes_path %>